@charset "UTF-8";

/* header */
#header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    min-width: 1200px;
    white-space: nowrap;
}
#header .logo {
    flex: 0 0 20%;
}
#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    flex: 0 0 60%;
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    padding: 20px 30px;
    display: inline-block;
}
#header .member {
    flex: 0 0 20%;
    text-align: right;
    padding: 10px 18px;
}
#header .member a {
    display: inline-block;
    padding: 9px 22px;
    border: 1px solid #000;
    border-radius: 50px;
}
#header .member a:hover {
    background: #000;
    color: #fff;
}

/* footer */
.footer {
    padding: 100px 0;
    font-family: 'GmarketSans';
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(205, 205, 205);
    margin-bottom: 50px;
}
.footer-menu > div {
    width: 16%;
}
.footer-menu > div h3 {
    font-weight: 500;
    margin-bottom: 35px;
    font-size: 20px;
}
.footer-menu > div li a {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    position: relative;
    color: rgb(96, 96, 96);
    transition: all 0.3s;
}
.footer-menu > div li a:hover {
    color: rgb(0, 0, 0);
}
.footer-menu > div li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    transition: all 0.3s ease;
}
.footer-menu > div li a:hover::before {
    transform: scaleX(1);
    color: #000;
}

.footer-rights {
    text-align: center;
}

.footer-sns {
    margin-top: 10px;
}
.footer-sns ul {
    display: flex;
    justify-content: center;
}
.footer-sns li a {
    width: 30px; 
    height: 30px;
    margin: 4px 6px;
    display: inline-block;
    background-image: url(../img/bg-svg.svg);
}
.footer-sns li:nth-child(2) a {
    background-position: -50px 0;
}
.footer-sns li:nth-child(3) a {
    background-position: -100px 0;
}
.footer-sns li:nth-child(4) a {
    background-position: -150px 0;
}


/* Join */
.join-type {
    padding: 150px 0;
}
.member-form {
    max-width: 665px;
    border: 1px solid #DEDEDE;
    background: #fff;
    margin: 0 auto;
    padding: 50px;
}
.member-form h3 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
}
.member-form .list li {
    font-size: 14px;
    line-height: 1.6;
    position: relative;
    padding-left: 10px;
}
.member-form .list li::before {
    content: '';
    width: 3px;
    height: 3px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
}
.member-form h4 {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}
.member-form .blue ul {
    background-color: #f5f5f5;
    padding: 20px;
}
.member-form .blue .check {
    display: block;
    margin-top: 10px;
}
.join-intro {
    width: 100%;
    height: 200px;
    border: 1px solid #dfdfdf;
    margin-bottom: 170px; 
    position: relative;
}
.join-intro .face {
    width: 180px;
    height: 180px;
    margin: 70px auto 0 auto;
    border-radius: 50%;
    background: #b7b7b7;
}
.join-intro .intro {
    text-align: center;
    padding-top: 20px;
}
.join-intro .file {
    text-align: center;
    margin-bottom: 50px;
}
.join-intro .file label {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "NexonLv1Gothic";
}
.join-intro .file input {
    background: #f5f5f5;
    padding: 10px;
}
.join-box .inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.join-box .inline label {
    width: 100%;
}
.join-box .inline input {
    width: 70%;
    margin-bottom: 0;
}
.join-box .inline a {
    width: 26%;
    display: inline-block;
    background: #f5f5f5;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.join-box .inline .comment {
    width: 100%;
    padding-top: 10px;
    font-size: 14px;
    color: red;
}
.join-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.join-box input {
    border: 1px solid #dfdfdf;
    width: 100%;
    padding: 15px;
    height: 50px;
    margin-bottom: 30px;
}
.join-box .gender {
    display: flex;
}
.join-box .gender > div {
    width: 50%;  
}
.join-box .gender label {
    display: inline;
}
.join-box .gender input {
    width: 20px; 
    height: 20px;
    vertical-align: -6px;
}
.join-btn {
    display: flex;
    justify-content: space-between;
}
.join-btn a {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: #eee;
    padding: 15px;
    box-sizing: border-box;
    width: 49%;
    transition: all 0.3s;
}
.join-btn a:hover {
    box-shadow: inset 0 0 0 2px #222;
    background: #fff;
}
.join-info {
    margin-bottom: 100px;
}
.join-info li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join-info li strong {
    width: 20%;
    padding: 10px 0;
    background: #eee;
    text-align: center;
    margin-bottom: 10px;
    font-weight: normal;
}
.join-info li span {
    display: inline-block;
    width: 78%;
    padding: 10px 0;
    border-bottom: 1px solid #C6C6C6;
    margin-bottom: 10px;
}


.join-submit {
    font-size: 16px;
    background: #eee;
    padding: 15px;
    display: block;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
}
.join-submit:hover {
    box-shadow: inset 0 0 0 2px #222;
    background: #fff;
}




/* 카드 유형 */
.card__inner {
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.card__inner > .card {
    width: 32%;
    background: #F5F5F5;
}
.card__img {
    width: 100%;
}
.card__body {
    padding: 20px;
}
.card__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.card__desc {
    font-size: 18px;
    line-height: 1.4;
    color: #5b5b5b;
    font-weight: 300;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
}
.card__btn {
    font-size: 16px;
    font-weight: 400;
    color: #5b5b5b;
    text-decoration: none;
}


/* 댓글 유형 */
.comment__form {
    margin-bottom: 50px;
}
.comment__wrap {
    display: flex;
    justify-content: center;
}
.comment__btn {
    border: 0px solid #a69cf7;
    padding: 10px 40px;
    background-color: #8978fb;
    border-radius: 50px;
    color: #fff;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}
.comment__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}
.comment__list .list {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 18%;
    margin: 0% 1% 2% 1%;
}
@media (max-width: 1200px){
    .comment__list .list {width: 20%;}
}
@media (max-width: 900px){
    .comment__list .list {width: 30%;}
}
@media (max-width: 600px){
    .comment__list .list {width: 48%;}
}
.comment__desc {
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.5;
}
.comment__icon {
    text-align: left;
}
.comment__icon .face {
    width: 30px; 
    height: 30px;
    display: inline-block;
    vertical-align: 7px;
}
.comment__icon .name {
    padding-left: 10px;
}
.comment__icon .date {
    float: right;
    padding-top: 12px;
    color: #666;
    font-size: 0.8em;
}


/* board */
.board__inner {}
.board__search {
    
}
.board__search fieldset {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
} 
.board__search .search-form {
    border: 1px solid #C6C6C6;
    padding: 7px 20px;
    border-radius: 5px;
}
.board__search .search-option {
    border: 1px solid #C6C6C6;
    padding: 6px 20px;
    border-radius: 5px;
    margin-left: 5px;
}
.board__search .search-btn {
    border: 1px solid #C6C6C6;
    padding: 7px 20px;
    border-radius: 5px;
    margin-left: 5px;
    background-color: #fff;
}
.board__search .search-btn.black {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border-color: #000;
    vertical-align: -5px;
    padding: 6px 20px;
}
.board__pages {
    margin-top: 40px;
}
.board__pages ul {
    display: flex;
    justify-content: center;
}
.board__pages ul li a {
    display: block;
    border: 1px solid #eee;
    padding: 14px 10px;
    font-size: 14px;
    margin-left: -1px;
}
.board__pages ul li.active a {
    background: #000;
    color: #fff;
}
.board__table table {
    width: 100%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.board__table table th {
    background-color: #ededed;
    font-weight: 500;
}
.board__table table th,
.board__table table td {
    border-bottom: 1px solid #000;
    padding: 20px 0;
    font-size: 14px;
}
.board__table table td {
    vertical-align: top;
}
.board__table table.hover tr {
    transition: all 0.3s;
    cursor: pointer;
}
.board__table table.hover tr:hover {
    background-color: #ededed;
}
.board__table table .left {
    text-align: left;
    padding-left: 20px;
}
.board__table table .height {
    height: 400px;
    line-height: 1.6;
}
.board__btn {
    float: right;
    margin-top: 20px;

}
.board__btn a,
.board__btn button {
    background: #000;
    padding: 9px 20px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
.board__modify {
    text-align: left;
}
.board__modify label {
    display: block;
    margin-bottom: 5px;
}
.board__modify input {
    width: 100%;
    background: #ededed;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.board__modify textarea {
    width: 100%;
    background: #ededed;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    resize: none;
    height: 400px;
    border-radius: 5px;
    line-height: 1.6;
}
.board__modify select {
    margin-bottom: 20px;
}



/* blog__inner */
.blog__inner {
    text-align: left;
}
.blog__search {
    background: #f5f5f5;
}
.blog__contents {
    margin-top: 50px;
}
.blog__contents .blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.blog__header {
    flex: 0 0 30%;
    border-radius: 10px;
    height: 240px;
    overflow: hidden;
    background: #ccc;
    position: relative;
}
.blog__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog__body {
    flex: 0 0 68%;
    width: 68%;
    height: 240px;
}
.blog__title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog__title a:hover {
    text-decoration: underline;
    text-underline-position: under;
}
.blog__desc {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    min-height: 102px;
}
.blog__cate {
    display: inline-block;
    color: #fff;
    border-radius: 30px;
    padding: 2px 10px;
    margin-bottom: 10px;
    background: #000;
}
.blog__cate.javascript {
    background: rgb(215, 85, 85);
}
.blog__pages {
    margin-top: 100px;
}
.blog__pages ul {
    display: flex;
    justify-content: center;
}
.blog__pages ul li a {
    display: block;
    border: 1px solid #eee;
    padding: 14px 10px;
    font-size: 14px;
    margin-left: -1px;
}
.blog__pages ul li.active a {
    background: #000;
    color: #fff;
}



/* quiz__inner */
.quiz__inner {
    text-align: left;
}
.quiz__menu {
    position: absolute;
    left: 10px; top: 100px;
    text-align: center;
    margin-bottom: 40px;
}
.quiz__menu li {
    display: inline;
}
.quiz__menu li a {
    padding: 10px 30px;
    background: #fff;
    color: #000;
    border-radius: 50px;
}
.quiz__menu li.active a {
    background: #000;
    color: #fff;
}
.quiz__subject {
    position: absolute;
    right: 10px; top: 90px;
}
.quiz__subject .subject {
    padding: 10px 40px;
    background: #000;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #000;
    font-size: 16px;
}
.quiz__info {
    margin-bottom: 10px;
}
.quiz__info > div {
    display: inline-block;
    background: #fff;
    padding: 10px 30px;
    color: #000;
    border-radius: 50px;
}
.quiz__info > div select {
    border: 0;
    font-size: 16px;
}
.quiz__info > div .face {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: 1px;
}

.quiz__header {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}
.quiz__header .num {
    font-size: 30px;
    display: inline-block;
    padding-right: 10px;
}
.quiz__content {
    margin-top: 40px;
}
.quiz__selects label {
    background: #fff;
    border-radius: 10px;
    display: block;
    margin: 6px 0;
    position: relative;
}
.quiz__selects label input {
    position: absolute;
    left: -9999px;
}
.quiz__selects label span {
    width: 100%;
    font-size: 20px;
    line-height: 1.3;
    margin: 3px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.25s;
}
.quiz__selects label span::before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    background: #fff;
    display: flex;
    flex-shrink: 0;
    box-shadow: inset 0 0 0 4px #009CF6;
    transition: all 0.25s;
}
.quiz__selects label input:checked + span {
    background-color: #d7edfa;
}
.quiz__selects label input:checked + span::before {
    box-shadow: inset 0 0 0 10px #009CF6;
}
.quiz__selects .corrent + span {
    position: relative;
}
.quiz__selects .corrent + span::after {
    content: '';
    width: 105px; height: 105px;  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../img/quiz.png);
    background-size: 500px;
    background-position: -12px 382px;
    display: block;
    z-index: 100;
}
.quiz__selects .incorrent + span::after {
    content: '';
    width: 105px; height: 105px;  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../img/quiz.png);
    background-size: 500px;
    background-position: -8px 256px;
    display: block;
    z-index: 100;
}
/* .quiz__selects label input.corrent + span {
    background-color: rgb(255, 165, 165);
} */

.quiz__btn {
    margin-top: 20px;
    text-align: right;
}
.quiz__btn .confirm {
    color: #fff;
    padding: 15px 40px;
    background-image: linear-gradient(102deg, #00ce8b 0%, #2abdb1 100%);
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}
.quiz__btn .next {
    color: #fff;
    padding: 15px 40px;
    background-image: linear-gradient(102deg, #ffe176 0%, #ff6e5b 100%);
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    display: none;
}
.quiz__btn .explanation {
    color: #fff;
    padding: 15px 40px;
    background-image: linear-gradient(102deg, #00ce8b 0%, #2abdb1 100%);
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    float: left;
    display: none;
}
.quiz__create {}
.quiz__create select {
    margin-bottom: 20px;
    border: 1px solid #eee;
    padding: 10px 30px;
}
.quiz__create label {
    display: block;
    margin-bottom: 5px;
}
.quiz__create textarea {
    width: 100%;
    background: #fff;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    resize: none;
    height: 200px;
    border-radius: 5px;
    line-height: 1.6;
}
.quiz__create .createChoices {
    display: flex;
    flex-wrap: wrap;
}
.quiz__create .createChoices label {
    width: 100%;
    padding-bottom: 0px;
}
.quiz__create .createChoices input {
    width: 100%;
    line-height: 1;
    margin: 5px 0;
    border-radius: 5px;
    background: #fff;
    border: 0;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.quiz__exam {
    width: 100%;
    background: #fff;
}
.quzi__paper {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.quzi__paper .title {
    width: 100%;
    border-bottom: 2px solid #000;
    overflow: hidden;
    margin-bottom: 20px;
}
.quzi__paper .title h4 {
    border: 2px solid #000;
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 5px;
}
.quzi__paper .title .time {
    border: 2px solid #000;
    display: inline-block;
    padding: 5px 20px;
    float: right;
}
.quzi__paper .title .button {
    border: 2px solid #000;
    display: inline-block;
    padding: 5px 20px;
    font-size: 16px;
    background: #000;
    color: #fff;
    float: right;
    margin-left: 5px;
}
.quzi__paper .question {
    width: 50%;
    height: 1000px;
    
}
.quzi__paper .question h5 {
    font-family: 'Eulyoo1945';
    font-weight: 400;
    font-size: 16px;
}
.quzi__paper .right {
    width: 50%;
}
.quiz__modal {
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: none;
    z-index: 10000;
}
.quiz__modal .modal {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 30vh;
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    z-index: 10;
}
.quiz__modal .close {
    width: 40px; height: 40px;
    position: absolute;
    right: 10px; top: 10px;
    text-indent: -9999px;
    background-image: url(../img/quiz.png);
    background-size: 1076px;
    background-position: 66px -628px;
}